*/terraform/*
!*terraform/main.tf
!*/terraform/provider.tf
!*/terraform/cluster.tf
!*/terraform/variables.tf
!*/terraform/outputs.tf
!*/terraform/terraform.tfvars


*.dll
*.dylib
*.exe
*.exe~
*.so

# Testing
*.test
*.tmp

$HOME
